<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyberbullying Detection</title>
</head>
<body>
    <h1 style="text-align:center">Report Maker</h1>
    <br/>
    <br/>
    <form id="frm_submit_text" class="" action="{{url_for('submit_text')}}" method="post" enctype="multipart/form-data">
        <label for="text_id">Enter Text:</label>
        <input type="text" id="text_id" name="text_name" style='width:40%'>
        <br/>
        <br/>
        <input type="submit" id="submit_id" name="submit_name" value="Submit">
    </form>
    <br/>
    <br/>
    {{ table|safe }}
</body>
</html>